
.vs/Chess/v15/Server/sqlite3/storage.ide-wal
.vs/Chess/v15/Server/sqlite3/storage.ide-shm
.vs/Chess/DesignTimeBuild/.dtbcache
.vs/Chess/v15/.suo
.vs/slnx.sqlite
Chess/bin/Debug/Chess.exe
Chess/bin/Debug/Chess.pdb
Chess/Chess.csproj
Chess/Chess.csproj.user
Chess/MVC/Model/Board.cs
Chess/obj/Debug/Chess.csproj.CoreCompileInputs.cache
Chess/obj/Debug/Chess.csproj.FileListAbsolute.txt
Chess/obj/Debug/Chess.csprojAssemblyReference.cache
Chess/obj/Debug/Chess.exe
Chess/obj/Debug/Chess.pdb
Chess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Chess/obj/Release/Chess.csproj.CoreCompileInputs.cache
Chess/Program.cs
